@model User


@{
    ViewData["Title"] = "Locations";
}

<div class="text-center">
    <p>Favourite locations</p>
</div>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Locations.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locations.First().Comment)
        </th>
        <th>
            @Html.DisplayName("Coordinates")
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <b>Private locations:</b>
        </td>
    </tr>
    @foreach (var item in Model.Locations.Where(loc => !loc.Shared))
    {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.Raw(item.Lat.ToString() + ", " + item.Lon.ToString())
            </td>
            <td>
                <a asp-action="RemoveLocation" asp-route-locationId="@item.LocationId">Remove</a>
            </td>
        </tr>
    }
    <tr>
        <td>
            <b>Shared locations:</b>
        </td>
    </tr>
    @foreach (var item in Model.Locations.Where(loc => loc.Shared))
    {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.Raw(item.Lat.ToString() + ", " + item.Lon.ToString())
            </td>
            <td>
                <a asp-action="RemoveLocation" asp-route-locationId="@item.LocationId">Remove</a>
            </td>
        </tr>
    }
    </tbody>
</table>